*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: lightgray;
}
.container{
  margin:20px auto;
  background-color: bisque;
  max-width:1100px;
  
}
.left__side {
  max-width:450px;
  background-color: #fff;
}
.left__side-img{
  border:5px solid lightcoral;
  border-radius: 45%;
  height:200px;
  max-width:200px;
  margin:30px;
  text-align: center;
}
.right__side {
  max-width:650px;
}
.row{
  display:flex;
}