body{
  background-color: lightgray;
}
.container{
  margin:0 auto;
  background-color: bisque;
  max-width:1100px;
  
}
.left__side {
  max-width:450px;
  background-color: #fff;
}
.left__side-img{
  border:5px solid lightcoral;
  border-radius: 45%;
  height:200px;
  max-width:200px;
  margin:30px auto;
}
.right__side {
  max-width:650px;
}